<h1>Cocktails list</h1>
<% @cocktails.each do |cocktail| %>
  <div class="card-container">
    <div class="cocktail-card">
      <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
    </div>
  </div>
<% end %>
<p><%= link_to 'Create a new cocktail', new_cocktail_path %></p>
<%= cl_image_tag("zh2eulzaxjopd9eeuibj", width: 400, height: 300, crop: :fill) %>
