<h1>Cocktails list</h1>
<% @cocktails.each do |cocktail| %>
  <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
<% end %>
<p><%= link_to 'Create a new cocktail', new_cocktail_path %></p>
